/* =============== GLOBAL =============== */
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");

:root {
  /*========== Colors ==========*/
  --bg-body: hsl(0, 0%, 8%);
  --bg-body2: hsl(0, 0%, 14%);
  --accent: hsl(153, 71%, 59%);
  --text1: hsl(0, 0%, 100%);
  --text2: hsl(0, 0%, 85%);
  --invalid: hsl(7, 100%, 68%);
}

/* =============== BASE =============== */
html,
body {
  overflow-x: hidden;
}

html {
  box-sizing: border-box;
  font-size: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: var(--bg-body);
  color: var(--text1);
  font-size: 1.125rem;
  line-height: 1.56;
  font-family: "Space Grotesk", sans-serif;
}

.bg-less-dark {
  background-color: var(--bg-body2);
}

h1,
h2,
h3,
p {
  margin-block-start: 0;
}

h1,
h2,
h3 {
  line-height: 1;
}

p {
  font-size: clamp(1rem, 0.79rem + 0.89vw, 1.125rem);
  line-height: 1.5;
  color: var(--text2);
}

a {
  transition: color 250ms ease-in-out;
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a:focus-visible,
input:focus-visible,
textarea:focus-visible {
  outline: 2px dashed var(--accent);
  outline-offset: 2px;
}

input:invalid,
textarea:invalid {
  outline-color: var(--invalid);
}

/* =============== LINKS AND BUTTONS =============== */
a.underline,
button {
  display: inline-block;
  padding-bottom: 0.625rem;
  font-size: 1rem;
  line-height: 1.625;
  letter-spacing: 0.143em;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--text1);
  text-decoration: none;
  background-image: linear-gradient(
    to right,
    var(--accent) 75%,
    var(--accent) 75%
  );
  background-position: 0 2.1em;
  background-repeat: repeat-x;
  background-size: 8px 2px;
}

a:hover {
  color: var(--accent);
}

/* =============== IMAGES AND VISUAL =============== */
img,
svg {
  display: block;
}

/* =============== LAYOUT =============== */
.wrapper {
  width: calc(100% - 2rem);
  max-width: 69.375rem;
  margin-inline: auto;
}

.header-xl {
  font-size: clamp(2.5rem, 0.7rem + 7.68vw, 5.5rem);
  letter-spacing: -0.028em;
  line-height: 1.1;
}

.bottom-border {
  border-bottom: 1px solid var(--text2);
}

/* =========== BREAKPOINTS =========== */
@media (min-width: 37.5em) {
  .wrapper {
    width: calc(100% - 3.75rem);
  }
}

/*=============== SCROLL BAR ===============*/
/* WebKit (Chrome, Safari) */
::-webkit-scrollbar {
  width: 12px;
  background-color: hsl(23, 4%, 15%);
}

::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: hsl(23, 4%, 30%);
}

::-webkit-scrollbar-thumb:hover {
  background-color: hsl(23, 4%, 40%);
}

/* Firefox styles */
html {
  scrollbar-color: hsl(23, 4%, 30%) hsl(23, 4%, 15%);
  scrollbar-width: thin;
}

html:hover {
  scrollbar-color: hsl(23, 4%, 40%) hsl(23, 4%, 15%);
}

/* =============== PRELOADER =============== */
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  box-shadow: inset 55vw 0 0 0 var(--text1), inset -55vw 0 0 0 var(--text1);
  display: grid;
  place-items: center;
  z-index: 100;
}

.preloader.loaded {
  transition: 300ms ease 500ms;
  pointer-events: none;
  box-shadow: inset 0 0 0 0 var(--text1), inset 0 0 0 0 var(--text1);
}

/* Preloader Line Styles */
.preloader .line {
  width: 1px;
  height: 100%;
  background-color: var(--bg-body);
  transition: 0.5s ease;
  animation: loading 1000ms linear forwards;
}

@keyframes loading {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(0.3);
  }
}

/* Loaded State Animation */
.preloader.loaded .line {
  animation: loaded 500ms ease forwards;
}

@keyframes loaded {
  0% {
    transform: scaleY(0.3);
  }
  100% {
    transform: scaleY(1);
    opacity: 0;
  }
}

/* =============== HEADER =============== */
.header {
  position: relative;
  top: 0;
  z-index: 50;
  margin-block-start: 20px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: clamp(1.5rem, 1.02rem + 2.04vw, 2rem);
  line-height: 1;
  color: var(--text1);
  text-decoration: none;
  cursor: pointer;
}

.header-social {
  font-size: 1.5rem;
  margin-right: 0;
  color: var(--text1);
  text-decoration: none;
  cursor: pointer;
}

.header-social:hover {
  color: var(--accent);
}

/*======= BREAKPOINTS =======*/
@media (min-width: 62.5em) {
  .header {
    margin-block-end: 127px;
  }
  .header-social {
    font-size: 1.5rem;
    margin-right: 25px;
  }
}

/* =============== HERO =============== */
.hero-wrapper {
  padding-bottom: 80px;
}

.hero-image {
  position: absolute;
  top: 0;
  left: 50%;
  translate: -50%;
  width: 226px;
  height: auto;
}

.hero-rings {
  position: absolute;
  right: 50%;
  top: 130px;
  z-index: -1;
  height: auto;
}

.hero-circle {
  position: relative;
  top: 171px;
  margin-bottom: -129px;
  translate: calc(100vw - 64px - 16px);
}

.hero-text {
  position: relative;
  text-align: center;
  margin-block-start: 335px;
}

.hero-headline {
  margin-block-end: 24px;
}

.hero-headline > br {
  display: none;
}

h1 > span {
  background-image: linear-gradient(
    to right,
    var(--accent) 75%,
    var(--accent) 75%
  );
  background-position: 0 1.18em;
  background-repeat: repeat-x;
  background-size: 8px 4px;
}

.hero-description {
  margin-block-end: 24px;
}

/*======= BREAKPOINTS =======*/
@media (min-width: 37.5em) {
  .hero {
    position: relative;
    margin-block-start: -62px;
  }

  .hero-wrapper {
    padding-bottom: 60px;
  }

  .hero-content {
    display: flex;
    align-items: center;
  }

  .hero-content picture {
    order: 2;
  }

  .hero-image {
    position: relative;
    width: 42vw;
    max-width: 445px;
    height: auto;
    left: auto;
    right: 0;
    translate: 0;
  }

  .hero-rings {
    top: 90px;
    right: auto;
    left: 0;
    translate: -50%;
  }

  .hero-circle {
    position: absolute;
    top: auto;
    right: 0;
    bottom: 190px;
    translate: 50%;
    z-index: 1;
  }

  .hero-text {
    margin-block-start: 90px;
    margin-right: -30px;
    flex: 1 0 58vw;
    text-align: left;
    z-index: 1;
  }

  .hero-headline {
    margin-block-end: 60px;
  }

  .hero-headline > br {
    display: inline-block;
  }

  .hero-description {
    margin-block-end: 34px;
  }
}

@media (min-width: 62.5em) {
  .hero {
    margin-block-start: 0px;
  }

  .hero-wrapper {
    position: relative;
    padding-bottom: 100px;
  }

  .hero-content {
    align-items: flex-start;
  }

  .hero-content picture {
    margin-left: -80px;
  }

  .hero-image {
    margin-block-start: -199px;
  }

  .hero-rings {
    top: 0px;
    translate: -50% -50%;
  }

  .hero-circle {
    top: 322px;
    right: 445px;
  }

  .hero-text {
    margin-block-start: 0;
    margin-right: 0;
    flex: 1;
  }

  .hero-headline {
    margin-block-end: 43px;
  }

  .hero-headline > br {
    display: none;
  }

  .hero-description {
    width: 38ch;
    margin-block-end: 66px;
  }
}

/* =============== SKILLS =============== */
.skills {
  position: relative;
}

.skills-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
  padding-block: 40px;
}

/* Skill Item Styles */
.skills-item {
  text-align: center;
}

/* Skill Title Styles */
.skills-title {
  font-size: clamp(2rem, 0.33rem + 7.11vw, 3rem);
  line-height: 1.17;
  margin-block-end: 2px;
}

/* Skill Description Styles */
.skills-description {
  margin-block-end: 0;
}

/* Skills Rings Styles */
.skills-rings {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(0, 50%);
}

/* ======= BREAKPOINTS ======= */
@media (min-width: 37.5em) {
  /* Responsive styles for medium screens */
  .skills-wrapper {
    grid-template-columns: repeat(2, 1fr);
    gap: 52px 24px;
    border: none;
    padding-block: 52px 0;
  }

  .skills-item {
    text-align: left;
  }

  .skills-rings {
    transform: translate(40%, 50%);
  }
}

@media (min-width: 62.5em) {
  /* Responsive styles for large screens */
  .skills-wrapper {
    grid-template-columns: repeat(3, 1fr);
    gap: 58px 30px;
    padding-block-start: 72px;
  }

  .skills-rings {
    transform: translate(-40%, 50%);
    left: 100%;
  }
}

/* =============== PROJECTS =============== */
.projects-wrapper {
  padding-block: 140px;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  justify-items: center;
  text-align: center;
}

.projects-headline {
  grid-column: 1 / span 2;
  margin-block-end: 0;
}

.projects-contact {
  grid-column: 1 / span 2;
}

.projects-item {
  grid-column: 1 / span 2;
}

.projects-picture {
  display: block;
  margin-block-end: 20px;
}

.projects-image {
  width: 100%;
  height: auto;
}

.projects-name {
  font-size: 1.5rem;
  line-height: 1.3;
  font-weight: 700;
  text-transform: uppercase;
  margin-block-end: 7px;
}

.projects-tags {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-block-end: 20px;
  text-transform: uppercase;
}

.projects-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

/* ======= BREAKPOINTS ======= */
@media (min-width: 37.5em) {
  /* Responsive styles for medium screens */
  .projects-grid {
    gap: 60px 24px;
    justify-items: start;
    text-align: left;
  }

  .projects-contact {
    justify-self: end;
  }

  .projects-item {
    grid-column: span 1;
  }

  .projects-contact {
    grid-column: span 1;
  }

  .projects-contact {
    align-self: center;
  }

  .projects-tags,
  .projects-links {
    display: block;
  }

  .projects-tags span {
    margin-inline-end: 18px;
  }

  .projects-links a {
    margin-inline-end: 30px;
  }

  .project-links {
    display: block;
  }
}

@media (min-width: 62.5em) {
  /* Responsive styles for large screens */
  .projects-grid {
    gap: 70px 30px;
  }

  .projects-item {
    display: -ms-grid;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
  }

  .projects-picture {
    position: relative;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .projects-picture::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: hsl(0, 0%, 0%);
    opacity: 0;
    transition: opacity 150ms ease-in-out;
  }

  .projects-item:hover .projects-picture::after {
    opacity: 0.5;
  }

  .projects-item:hover .projects-links {
    opacity: 1;
  }

  .projects-item:focus-within .projects-links {
    opacity: 1;
  }

  .projects-item:focus-within .projects-picture::after {
    opacity: 0.5;
  }

  .projects-image {
    width: 100%;
    height: auto;
  }

  .projects-links {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    justify-self: center;
    align-self: center;
    z-index: 1;
    opacity: 0;
    transition: opacity 400ms ease-in-out;
  }

  .projects-links:hover ~ .projects-picture::after {
    opacity: 0.5;
  }

  .projects-tags {
    margin-block-end: 0;
  }
}

/* =============== CONTACT =============== */
.contact {
  position: relative;
}

.contact-wrapper {
  padding-block: 84px;
}

.contact-headline {
  margin-block-end: 1.25rem;
}

.contact-control {
  position: relative;
  margin-block-end: 16px;
}

.contact-control input,
.contact-control textarea {
  width: 100%;
  padding-block: 16px;
  padding-inline: 24px;
  border: none;
  border-bottom: 1px solid var(--text1);
  background: transparent;
  font-size: 1rem;
  line-height: 1.625;
  color: var(--text1);
}

.contact-control > *::placeholder {
  color: var(--text1);
  opacity: 0.5;
  text-transform: uppercase;
}

.contact-control textarea {
  margin-block-end: 32px;
}

.contact-control.align-right {
  display: flex;
  justify-content: flex-end;
}

.contact-control button {
  background-color: transparent;
  border: none;
}

.contact-invalid-icon {
  display: none;
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  top: 50%;
  right: 0;
  translate: -50% -50%;
}

.contact input:focus-visible:invalid ~ .contact-invalid-icon,
.contact textarea:focus-visible:invalid ~ .contact-invalid-icon {
  display: inline-block;
}

.contact textarea:focus-visible:invalid ~ .contact-invalid-icon {
  top: 1.2rem;
  right: 1.5rem;
  translate: none;
}

.contact-rings {
  position: absolute;
  left: 0;
  bottom: 97px;
  translate: -75%;
}

/* ======= BREAKPOINTS ======= */
@media (min-width: 37.5em) {
  .contact-rings {
    bottom: 47px;
    translate: -75%;
  }
}

@media (min-width: 62.5em) {
  .contact-wrapper {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(2, 27.8rem);
    justify-content: space-between;
  }

  .contact-headline {
    margin-block-end: 2.25rem;
  }

  .contact-rings {
    translate: -40%;
  }
}

@media (max-width: 62.49875em) {
  .contact-wrapper {
    max-width: 27.8rem;
  }

  .contact-text {
    text-align: center;
  }
}

/* =============== FOOTER =============== */
footer {
  padding-block: 40px 60px;
}

.footer-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  gap: 20px 25px;
}

.footer-home {
  font-size: clamp(1.5rem, 1.02rem + 2.04vw, 2rem);
  line-height: 1;
  color: var(--text1);
  text-decoration: none;
  flex: 1 0 100%;
  cursor: pointer;
}

.footer-social i {
  color: var(--text1);
  font-size: 25px;
}

.footer-social i:hover {
  color: var(--accent);
}

/*======= BREAKPOINTS =======*/
@media (min-width: 37.5em) {
  .footer-nav {
    justify-content: flex-start;
    align-items: center;
    text-align: left;
    gap: 32px;
  }

  .footer-home {
    flex: 0 1 auto;
    margin-inline-end: auto;
  }
}

@media (min-width: 62.5em) {
  .footer-nav {
    padding-right: 30px;
  }
}

@media (min-width: 37.5em) {
  footer {
    padding-block: 30px 40px;
  }
}

@media (min-width: 62.5em) {
  footer {
    padding-block: 47px 105px;
  }
}

/* =============== SCROLL UP =============== */
.scrollup {
  position: fixed;
  right: 1rem;
  bottom: -50%;
  display: inline-flex;
  z-index: 50;
  cursor: pointer;
  border: none;
  outline: none;
  background: hsl(23, 4%, 30%);
  color: var(--text1);
  padding: 7px;
  font-size: 25px;
  border-radius: 6px;
  transition: bottom 0.4s, transform 0.4s;
}

.scrollup:hover {
  transform: translateY(-0.5rem);
  background-color: hsl(23, 4%, 40%);
}

.show-scroll {
  bottom: 3rem;
}

/* ======= BREAKPOINTS ======= */
@media screen and (min-width: 1150px) {
  .scrollup {
    right: 3rem;
  }
}
