/*=============== GLOBAL ===============*/
:root {
  --bg-body: hsl(0, 0%, 8%);
  --bg-body2: hsl(0, 0%, 14%);
  --accent: hsl(153, 71%, 59%);
  --text1: hsl(0, 0%, 100%);
  --text2: hsl(0, 0%, 85%);
  --invalid: hsl(7, 100%, 68%);
  --fs-18: 1.125rem;
  --fs-88: 5.5rem;
  --fs-72: 4.5rem;
  --fs-40: 2.5rem;
  --fs-48: 3rem;
  --fs-36: 2.25rem;
  --fs-32: 2rem;
  --fs-24: 1.5rem;
  --fs-20: 1.25rem;
  --container: 69.375rem;
  --transition: 250ms ease-in-out;
}

/*=============== BASE ===============*/
html,
body {
  overflow-x: hidden;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body,
input,
textarea,
button {
  font-family: "Space Grotesk", sans-serif;
}

body {
  margin: 0;
  background-color: var(--bg-body);
  color: var(--text1);
  font-size: var(--fs-18);
  line-height: 1.56;
}

.bg-less-dark {
  background-color: var(--bg-body2);
}

h1,
h2,
h3,
p {
  -webkit-margin-before: 0;
  margin-block-start: 0;
}

h1,
h2,
h3 {
  line-height: 1;
}

.header-xl {
  font-size: 2.5rem;
  font-size: clamp(2.5rem, 0.7rem + 7.68vw, 5.5rem);
  letter-spacing: -0.028em;
  line-height: 1.1;
}

p {
  font-size: 1rem;
  font-size: clamp(1rem, 0.79rem + 0.89vw, 1.125rem);
  line-height: 1.5;
  color: var(--text2);
}

a {
  -webkit-transition: color var(--transition);
  -o-transition: color var(--transition);
  transition: color var(--transition);
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a:focus-visible,
input:focus-visible,
textarea:focus-visible {
  outline: 2px dashed var(--accent);
  outline-offset: 2px;
}

input:invalid,
textarea:invalid {
  outline-color: var(--invalid);
}

a.underline,
button {
  display: inline-block;
  padding-bottom: 0.625rem;
  font-size: 1rem;
  line-height: 1.625;
  letter-spacing: 0.143em;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--text1);
  text-decoration: none;
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(75%, var(--accent)),
    color-stop(75%, var(--accent))
  );
  background-image: -o-linear-gradient(
    left,
    var(--accent) 75%,
    var(--accent) 75%
  );
  background-image: linear-gradient(
    to right,
    var(--accent) 75%,
    var(--accent) 75%
  );
  background-position: 0 2.1em;
  background-repeat: repeat-x;
  background-size: 8px 2px;
}

a:hover {
  color: var(--accent);
}

img,
svg {
  display: block;
}

.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.wrapper {
  width: calc(100% - 2rem);
  max-width: var(--container);
  margin-inline: auto;
}

.bottom-border {
  border-bottom: 1px solid var(--text2);
}

/*======= BREAKPOINTS =======*/
@media (min-width: 37.5em) {
  .wrapper {
    width: calc(100% - 3.75rem);
  }
}

/*=============== CUSTOM CURSOR ===============*/
.cursor-dot,
.cursor-outline {
  display: block;
  position: fixed;
  top: -60px;
  left: -60px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 100%;
  z-index: 200;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  -o-transition-property: opacity, transform;
  transition-property: opacity, transform;
  transition-property: opacity, transform, -webkit-transform;
  -webkit-transition-duration: 300ms;
  -o-transition-duration: 300ms;
  transition-duration: 300ms;
  -webkit-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  pointer-events: none;
}

.cursor-dot {
  width: 70px;
  height: 70px;
  background-color: antiquewhite;
  -webkit-transform: translate(-50%, -50%) scale(0.1);
  -ms-transform: translate(-50%, -50%) scale(0.1);
  transform: translate(-50%, -50%) scale(0.1);
}

.cursor-dot.hovered {
  -webkit-transform: translate(-50%, -50%) scale(1);
  -ms-transform: translate(-50%, -50%) scale(1);
  transform: translate(-50%, -50%) scale(1);
  mix-blend-mode: exclusion;
}

.cursor-outline {
  width: 40px;
  height: 40px;
  border: 2px solid aliceblue;
  opacity: 0.5;
  -webkit-transition-duration: 100ms;
  -o-transition-duration: 100ms;
  transition-duration: 100ms;
}

.cursor-outline.hovered {
  opacity: 0;
}

/*=============== PRELOADER ===============*/
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  -webkit-box-shadow: inset 55vw 0 0 0 var(--text1),
    inset -55vw 0 0 0 var(--text1);
  box-shadow: inset 55vw 0 0 0 var(--text1), inset -55vw 0 0 0 var(--text1);
  display: -ms-grid;
  display: grid;
  place-items: center;
  z-index: 500;
}

.preloader.loaded {
  -webkit-transition: 300ms ease 500ms;
  -o-transition: 300ms ease 500ms;
  transition: 300ms ease 500ms;
  pointer-events: none;
  -webkit-box-shadow: inset 0 0 0 0 var(--text1), inset 0 0 0 0 var(--text1);
  box-shadow: inset 0 0 0 0 var(--text1), inset 0 0 0 0 var(--text1);
}

.preloader .line {
  width: 1px;
  height: 100%;
  background-color: var(--bg-body);
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
  -webkit-animation: loading 1000ms linear forwards;
  animation: loading 1000ms linear forwards;
}

@-webkit-keyframes loading {
  0% {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
  }
  100% {
    -webkit-transform: scaleY(0.3);
    transform: scaleY(0.3);
  }
}

@keyframes loading {
  0% {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
  }
  100% {
    -webkit-transform: scaleY(0.3);
    transform: scaleY(0.3);
  }
}

.preloader.loaded .line {
  -webkit-animation: loaded 500ms ease forwards;
  animation: loaded 500ms ease forwards;
}

@-webkit-keyframes loaded {
  0% {
    -webkit-transform: scaleY(0.3);
    transform: scaleY(0.3);
  }
  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    opacity: 0;
  }
}

@keyframes loaded {
  0% {
    -webkit-transform: scaleY(0.3);
    transform: scaleY(0.3);
  }
  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    opacity: 0;
  }
}

/*=============== HEADER & NAV ===============*/
.header {
  position: fixed;
  top: 0;
  background-color: transparent;
  width: 100%;
  height: auto;
  padding: 20px;
  z-index: 100;
  -webkit-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.header.hide {
  opacity: 0;
  background-color: #000;
  pointer-events: none;
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  gap: 20px 25px;
}

.header-home {
  font-size: 1.5rem;
  font-size: clamp(1.5rem, 1.02rem + 2.04vw, 2rem);
  line-height: 1;
  color: var(--text1);
  -webkit-box-flex: 1;
  -ms-flex: 1 0 100%;
  flex: 1 0 100%;
}

.header-home:hover {
  color: var(--accent);
}

.nav-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 0.5rem;
  -moz-column-gap: 0.5rem;
  column-gap: 0.5rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-weight: 500;
  color: var(--text1);
  margin-right: auto;
}

.nav-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: auto;
}

.nav-menu {
  margin-left: auto;
}

.nav-logo-circle,
.nav-toggle {
  color: var(--text1);
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.nav-toggle {
  font-size: 2rem;
  cursor: pointer;
}

.nav-toggle:hover {
  color: var(--accent);
}

/* Navigation for mobile devices */
@media screen and (max-width: 1150px) {
  .nav-menu {
    position: fixed;
    top: -100%;
    left: 0;
    background-color: hsla(0, 0%, 0%, 0.75);
    width: 100%;
    padding-block: 1.8rem 5rem;
    -webkit-transition: top 0.4s;
    -o-transition: top 0.4s;
    transition: top 0.4s;
    z-index: 100;
  }
  .header {
    padding: 0px;
  }
}

.nav-title,
.nav-name,
.nav-close {
  color: var(--text1);
}

.nav-title {
  display: block;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 3.5rem;
}

.nav-name {
  position: relative;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto 3rem;
  font-size: 20px;
}

.nav-name::after,
.nav-name::before {
  content: "";
  width: 40px;
  height: 1px;
  background-color: var(--text1);
  position: absolute;
  top: 50%;
}

.nav-name::before {
  left: -4rem;
}

.nav-name::after {
  right: -4rem;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  row-gap: 2.5rem;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-link {
  position: relative;
  color: var(--text1);
  font-size: 16px;
  font-weight: bold;
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}

.nav-link::after {
  content: "";
  width: 0;
  height: 2px;
  background-color: var(--accent);
  position: absolute;
  left: 0;
  bottom: -0.5rem;
  -webkit-transition: width 0.3s;
  -o-transition: width 0.3s;
  transition: width 0.3s;
}

.nav-link:hover {
  color: var(--accent);
}

.nav-link:hover::after {
  width: 25%;
}

.nav-close {
  position: absolute;
  font-size: 1.5rem;
  top: 1rem;
  right: 1.5rem;
  cursor: pointer;
}

/* Show menu */
.show-menu {
  top: 0;
}

/* Active link */
.active-link {
  color: var(--accent);
}

.active-link::after {
  width: 25%;
}

/* overlay */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
  z-index: 50;
}

.show-overlay {
  display: block;
}

/* header background */
.header-scrolled {
  background-color: #333;
}

/*======= BREAKPOINTS =======*/
@media (min-width: 37.5em) {
  .header-nav {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    gap: 32px;
  }

  .header-home {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-margin-end: auto;
    margin-inline-end: auto;
  }
}

@media (min-width: 62.5em) {
  .header {
    -webkit-margin-after: 127px;
    margin-block-end: 127px;
  }
}

@media screen and (min-width: 1150px) {
  .nav-close,
  .nav-toggle,
  .nav-title,
  .nav-name {
    display: none;
  }

  .nav-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-column-gap: 4rem;
    -moz-column-gap: 4rem;
    column-gap: 4rem;
  }

  .nav-menu {
    margin-left: auto;
  }

  .nav-link {
    color: var(--text1);
    font-size: 16px;
  }

  .nav-link:hover {
    color: var(--accent);
  }

  .nav-link::after {
    background-color: var(--accent);
  }

  .active-link {
    color: var(--accent);
  }

  .nav-link-button {
    background-color: black;
    color: var(--text1);
    padding: 1.1rem 1.5rem;
  }

  .nav-link-button:hover {
    color: var(--text1);
  }

  .nav-link-button::after {
    background-color: transparent;
  }
}

/*=============== HERO ===============*/
.hero {
  padding-top: 165px;
}

.hero-wrapper {
  padding-bottom: 80px;
}

.hero-image {
  position: absolute;
  top: 0;
  left: 50%;
  translate: -50%;
  width: 300px;
  height: auto;
}

.hero-rings {
  position: absolute;
  right: 50%;
  top: 130px;
  /* 8.125rem; */
  z-index: -1;
  /* width: 33.125rem; */
  height: auto;
}

.hero-circle {
  position: relative;
  top: 171px;
  margin-bottom: -129px;
  translate: calc(100vw - 64px - 16px);
}

.hero-text {
  position: relative;
  text-align: center;
  -webkit-margin-before: 335px;
  margin-block-start: 335px;
}

.hero-headline {
  -webkit-margin-after: 24px;
  margin-block-end: 24px;
  cursor: pointer;
}

.hero-headline > br {
  display: none;
}

h1 > span {
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(75%, var(--accent)),
    color-stop(75%, var(--accent))
  );
  background-image: -o-linear-gradient(
    left,
    var(--accent) 75%,
    var(--accent) 75%
  );
  background-image: linear-gradient(
    to right,
    var(--accent) 75%,
    var(--accent) 75%
  );
  background-position: 0 1.18em;
  background-repeat: repeat-x;
  background-size: 8px 4px;
}

.hero-description {
  -webkit-margin-after: 24px;
  margin-block-end: 24px;
  cursor: pointer;
}

/*======= BREAKPOINTS =======*/
@media (min-width: 37.5em) {
  .hero {
    position: relative;
    -webkit-margin-before: -62px;
    margin-block-start: -62px;
  }

  .hero-wrapper {
    padding-bottom: 60px;
  }

  .hero-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .hero-content picture {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }

  .hero-image {
    position: relative;
    width: 42vw;
    max-width: 445px;
    /* width: 322px; */
    height: auto;
    left: auto;
    right: 0;
    translate: 0;
  }

  .hero-rings {
    top: 90px;
    right: auto;
    left: 0;
    translate: -50%;
  }

  .hero-circle {
    position: absolute;
    top: auto;
    right: 0;
    bottom: 190px;
    translate: 50%;
    z-index: 1;
  }

  .hero-text {
    /* width: 62vw; */
    -webkit-margin-before: 90px;
    margin-block-start: 90px;
    margin-right: -30px;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 58vw;
    flex: 1 0 58vw;
    text-align: left;
    z-index: 1;
  }

  .hero-headline {
    -webkit-margin-after: 60px;
    margin-block-end: 60px;
  }

  .hero-headline > br {
    display: inline-block;
  }

  .hero-description {
    /* width: 70%; */
    -webkit-margin-after: 34px;
    margin-block-end: 34px;
  }
}

@media (min-width: 62.5em) {
  .hero {
    -webkit-margin-before: 0px;
    margin-block-start: 0px;
  }

  .hero-wrapper {
    position: relative;
    padding-bottom: 100px;
  }

  .hero-content {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .hero-content picture {
    margin-left: -80px;
  }

  .hero-image {
    -webkit-margin-before: -199px;
    margin-block-start: -199px;
  }

  .hero-rings {
    top: 0px;
    translate: -50% -50%;
  }

  .hero-circle {
    top: 322px;
    right: 445px;
  }

  .hero-text {
    -webkit-margin-before: 0;
    margin-block-start: 0;
    margin-right: 0;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

  .hero-headline {
    -webkit-margin-after: 43px;
    margin-block-end: 43px;
  }

  .hero-headline > br {
    display: none;
  }

  .hero-description {
    width: 38ch;
    -webkit-margin-after: 66px;
    margin-block-end: 66px;
  }
}

/*=============== SKILLS ===============*/
.skills {
  position: relative;
}

.skills-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  gap: 24px;
  padding-block: 40px;
}

.skills-item {
  text-align: center;
}

.skills-title {
  font-size: 2rem;
  font-size: clamp(2rem, 0.33rem + 7.11vw, 3rem);
  line-height: 1.17;
  -webkit-margin-after: 2px;
  margin-block-end: 2px;
}

.skills-description {
  -webkit-margin-after: 0;
  margin-block-end: 0;
}

.skills-rings {
  position: absolute;
  bottom: 0;
  left: 50%;
  translate: 0 50%;
}

/*======= BREAKPOINTS =======*/
@media (min-width: 37.5em) {
  .skills-wrapper {
    -ms-grid-columns: 1fr 24px 1fr;
    grid-template-columns: repeat(2, 1fr);
    gap: 52px 24px;
    border: none;
    padding-block: 52px 0;
  }

  .skills-item {
    text-align: left;
  }

  .skills-rings {
    translate: 40% 50%;
  }
}

@media (min-width: 62.5em) {
  .skills-wrapper {
    -ms-grid-columns: 1fr 30px 1fr 30px 1fr;
    grid-template-columns: repeat(3, 1fr);
    gap: 58px 30px;
    -webkit-padding-before: 72px;
    padding-block-start: 72px;
  }

  .skills-rings {
    translate: -40% 50%;
    left: 100%;
  }
}

/*=============== PROJECTS ===============*/
.projects-wrapper {
  padding-block: 140px;
}

.projects-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 40px 1fr;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  justify-items: center;
  text-align: center;
}

.projects-headline {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
  -webkit-margin-after: 0;
  margin-block-end: 0;
}

.projects-contact {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
}

.projects-item {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
}

.projects-picture {
  display: block;
  -webkit-margin-after: 20px;
  margin-block-end: 20px;
}

.projects-image {
  width: 100%;
  height: auto;
}

.projects-name {
  font-size: 1.5rem;
  line-height: 1.3;
  font-weight: 700;
  text-transform: uppercase;
  -webkit-margin-after: 7px;
  margin-block-end: 7px;
}

.projects-tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 12px;
  -webkit-margin-after: 20px;
  margin-block-end: 20px;
  text-transform: uppercase;
}

.projects-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 20px;
}

/*======= BREAKPOINTS =======*/
@media (min-width: 37.5em) {
  .projects-grid {
    gap: 60px 24px;
    justify-items: start;
    text-align: left;
  }

  .projects-contact {
    -ms-grid-column-align: end;
    justify-self: end;
  }

  .projects-item {
    -ms-grid-column-span: 1;
    grid-column: span 1;
  }

  .projects-contact {
    -ms-grid-column-span: 1;
    grid-column: span 1;
  }

  .projects-contact {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }

  .projects-tags,
  .projects-links {
    display: block;
  }

  .projects-tags span {
    -webkit-margin-end: 18px;
    margin-inline-end: 18px;
  }

  .projects-links a {
    -webkit-margin-end: 30px;
    margin-inline-end: 30px;
  }

  .project-links {
    display: block;
  }
}

@media (min-width: 62.5em) {
  .projects-grid {
    gap: 70px 30px;
  }

  .projects-item {
    display: -ms-grid;
    display: grid;
    --ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    --ms-grid-rows: (auto) [4];
    grid-template-rows: repeat(4, auto);
  }

  .projects-item > *:nth-child(1) {
    --ms-grid-row: 1;
    --ms-grid-column: 1;
  }

  .projects-item > *:nth-child(2) {
    --ms-grid-row: 2;
    --ms-grid-column: 1;
  }

  .projects-item > *:nth-child(3) {
    --ms-grid-row: 3;
    --ms-grid-column: 1;
  }

  .projects-item > *:nth-child(4) {
    --ms-grid-row: 4;
    --ms-grid-column: 1;
  }

  .projects-picture {
    position: relative;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
  }

  .projects-picture::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: hsl(0, 0%, 0%);
    opacity: 0;
    -webkit-transition: opacity 150ms ease-in-out;
    -o-transition: opacity 150ms ease-in-out;
    transition: opacity 150ms ease-in-out;
  }

  .projects-item:hover .projects-picture::after {
    opacity: 0.5;
  }

  .projects-item:hover .projects-links {
    opacity: 1;
  }
  .projects-item:focus-within .projects-links {
    opacity: 1;
  }

  .projects-item:focus-within .projects-picture::after {
    opacity: 0.5;
  }

  .projects-image {
    width: 100%;
    height: auto;
  }

  .projects-links {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
    -ms-grid-column-align: center;
    justify-self: center;
    -ms-grid-row-align: center;
    align-self: center;
    z-index: 1;
    opacity: 0;
    -webkit-transition: opacity 400ms ease-in-out;
    -o-transition: opacity 400ms ease-in-out;
    transition: opacity 400ms ease-in-out;
  }

  .projects-links:hover ~ .projects-picture::after {
    opacity: 0.5;
  }

  .projects-tags {
    -webkit-margin-after: 0;
    margin-block-end: 0;
  }
}

/*=============== CONTACT ===============*/
.contact {
  position: relative;
}

.contact-wrapper {
  padding-block: 84px;
}

.contact-headline {
  -webkit-margin-after: var(--fs-20);
  margin-block-end: var(--fs-20);
}

.contact-control {
  position: relative;
  -webkit-margin-after: 16px;
  margin-block-end: 16px;
}

.contact-control input,
.contact-control textarea {
  width: 100%;
  padding-block: 16px;
  padding-inline: 24px;
  border: none;
  border-bottom: 1px solid var(--text1);
  background: transparent;
  font-size: 1rem;
  line-height: 1.625;
  color: var(--text1);
}

.contact-control > *::-webkit-input-placeholder {
  color: var(--text1);
  opacity: 0.5;
  text-transform: uppercase;
}

.contact-control > *::-moz-placeholder {
  color: var(--text1);
  opacity: 0.5;
  text-transform: uppercase;
}

.contact-control > *:-ms-input-placeholder {
  color: var(--text1);
  opacity: 0.5;
  text-transform: uppercase;
}

.contact-control > *::-ms-input-placeholder {
  color: var(--text1);
  opacity: 0.5;
  text-transform: uppercase;
}

.contact-control > *::placeholder {
  color: var(--text1);
  opacity: 0.5;
  text-transform: uppercase;
}

.contact-control textarea {
  -webkit-margin-after: 32px;
  margin-block-end: 32px;
}

.contact-control.align-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.contact-control button {
  background-color: transparent;
  border: none;
}

.contact-invalid-icon {
  display: none;
  width: var(--fs-24);
  height: var(--fs-24);
  position: absolute;
  top: 50%;
  right: 0;
  translate: -50% -50%;
}

.contact input:focus-visible:invalid ~ .contact-invalid-icon,
.contact textarea:focus-visible:invalid ~ .contact-invalid-icon {
  display: inline-block;
}

.contact textarea:focus-visible:invalid ~ .contact-invalid-icon {
  top: 1.2rem;
  right: 1.5rem;
  translate: none;
}

.contact-rings {
  position: absolute;
  left: 0;
  bottom: 97px;
  translate: -75%;
}

/*======= BREAKPOINTS =======*/
@media (min-width: 37.5em) {
  .contact-rings {
    bottom: 47px;
    translate: -75%;
  }
}

@media (min-width: 62.5em) {
  .contact-wrapper {
    display: -ms-grid;
    display: grid;
    --ms-grid-columns: (27.8rem) [2];
    grid-template-columns: repeat(2, 27.8rem);
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .contact-headline {
    -webkit-margin-after: var(--fs-36);
    margin-block-end: var(--fs-36);
  }

  .contact-rings {
    translate: -40%;
  }
}

/*=============== FOOTER ===============*/
footer {
  padding-block: 40px 60px;
}

.header-social i {
  color: var(--text1);
  font-size: 25px;
}

.header-social i:hover {
  color: var(--accent);
}

/*======= BREAKPOINTS =======*/
@media (max-width: 62.49875em) {
  .contact-wrapper {
    max-width: 27.8rem;
  }

  .contact-text {
    text-align: center;
  }
}

@media (min-width: 37.5em) {
  footer {
    padding-block: 30px 40px;
  }
}

@media (min-width: 62.5em) {
  footer {
    padding-block: 47px 105px;
  }
}

/*=============== SCROLL BAR ===============*/
/* WebKit (Chrome, Safari) */
::-webkit-scrollbar {
  width: 12px;
  background-color: hsl(23, 4%, 15%);
}

::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: hsl(23, 4%, 30%);
}

::-webkit-scrollbar-thumb:hover {
  background-color: hsl(23, 4%, 40%);
}

/* Firefox styles */
html {
  scrollbar-color: hsl(23, 4%, 30%) hsl(23, 4%, 15%);
  scrollbar-width: thin;
}

html:hover {
  scrollbar-color: hsl(23, 4%, 40%) hsl(23, 4%, 15%);
}

/*=============== SCROLL UP ===============*/
.scrollup {
  position: fixed;
  right: 1rem;
  bottom: -50%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  z-index: 100;
  cursor: pointer;
  border: none;
  outline: none;
  background: hsl(23, 4%, 30%);
  color: var(--text1);
  padding: 7px;
  font-size: 25px;
  border-radius: 6px;
  -webkit-transition: bottom 0.4s, -webkit-transform 0.4s;
  transition: bottom 0.4s, -webkit-transform 0.4s;
  -o-transition: bottom 0.4s, transform 0.4s;
  transition: bottom 0.4s, transform 0.4s;
  transition: bottom 0.4s, transform 0.4s, -webkit-transform 0.4s;
}

.scrollup:hover {
  -webkit-transform: translateY(-0.5rem);
  -ms-transform: translateY(-0.5rem);
  transform: translateY(-0.5rem);
  background-color: hsl(23, 4%, 40%);
}

.show-scroll {
  bottom: 3rem;
}

/*======= BREAKPOINTS =======*/
@media screen and (min-width: 1150px) {
  .scrollup {
    right: 3rem;
  }
}
